@import models.db.user.User
@(users: List[User])

  @main(title = "Kurator Web - User Management") {
    <h1>User Management</h1>

    <form id="usermanagment" action="@routes.Users.manageUsers()" method="post">
    @if(users.size > 0) {
      <div style="display: inline-block">
        <table class="table">
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Affiliation</th>
            <th>Role</th>
            <th>Active</th>
          </tr>

          @users.map { user =>
            <tr>
              <td>@user.getUsername()</td>
              <td>@user.getEmail()</td>
              <td>@user.getFirstname()</td>
              <td>@user.getLastname()</td>
              <td>@user.getAffiliation()</td>
              <td>
                <select name="role_@user.getUsername()" value="@user.getRole()">
                  <option @if(user.getRole().equals("USER")) {
                    selected="selected" }>USER</option>
                  <option @if(user.getRole().equals("ADMIN")) {
                    selected="selected" }>ADMIN</option>
                </select>
              </td>
              <td><input type="checkbox" name="active_@user.getUsername()" @if(user.isActive()) {
                checked="checked"
              } value="@user.getId()"></td>
            </tr>
          }
        </table>

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    } else {
      <p><i>No users registered.</i></p>
    }
    </form>

  }