<h2>Deploy workflows</h2>

<form id="deploy-package" class="form-inline" action="<%= jsRoutes.controllers.Workflows.deploy().url %>" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <input type="file" name="filename">
  </div>
  <button type="submit" class="btn btn-primary">Deploy</button>
</form>

<h2>Packages</h2>
<div style="float: left">
<table class="table">
  <tr>
    <th>Name</th><th>Last modified</th><th>Delete</th>
  </tr>
  <% console.log(packages) %>
  <% _.each(packages, function(pkg) { %>

  <tr>
    <td><%= pkg.name %></td>
    <td><%= new Date(pkg.lastModified) %></td>
    <td style="text-align: center">
      <a class="delete-btn" id="delete-<%= pkg.name %>" href="#"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>

  <% }); %>

</table>
</div>