<h2>Please log in</h2>

<form id="login-form" action="<%= jsRoutes.controllers.Users.authenticate().url %>" method="POST">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</form>