<div>
  <a class="btn btn-default" href="#dataset/<%= runId %>" role="button">Dataset View</a>
</div>
<hr />
<% _.each(measures, function(measure, index) { %>
<div class="panel panel-default" style="float: left; margin: 10px;">
  <div class="panel-heading" style="color: #777;"><span class="glyphicon glyphicon-signal"></span>  &nbsp; &nbsp;<h3 class="panel-title" style="display: inline"><b><%= measure.title %></b></h3></div>

  <div class="panel-body">
    <br />
    <div id="chart-<%= index %>"></div>


    <hr />
    <div style="float: left">
      <!--<a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#details-modal<%= measure.id %>">View Details</a>-->
      <a href="#" data-container="body" data-toggle="modal" data-target="#details-modal<%= measure.id %>">
        <span class="glyphicon glyphicon-info-sign"></span> Specification
      </a>
    </div>

    <div style="clear: both"></div>
    <div id="details-modal<%= measure.id %>" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ><%= measure.title %> Details</h4>
          </div>

          <div class="modal-body">
            <p><strong>Specification: </strong> <%= measure.specification %></p>
            <p><strong>Mechanism: </strong> <%= measure.mechanism %></p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<% }); %>