<h2><%= title %></h2>
<i><%= instructions %></i>

<form id="run-workflow" action="<%= jsRoutes.controllers.Workflows.runWorkflow(name).url %>" method="POST" enctype="multipart/form-data">

  <% _.each(fields, function(field) { %>
  <div class="form-group workflow-form-field">
    <label for="<%= field.name %>"><%= field.label %></label>

  <!-- File input field -->
  <% if (field.type == 'FileInput') { %>
  <input type="file" id="<%= field.name %>" name="<%= field.name %>">

  <!-- Text input field -->
  <% } else if (field.type == 'TextField') { %>
  <input type="text" class="form-control" name="<%= field.name %>">

  <!-- Radio group -->
  <% } else if (field.type == 'RadioGroup') { %>
  <div>
    <% for (value in field.options) { %>
    <input type="radio" class="form-control" name="<%= field.name %>" value="<%= field.value %>"
      <% if (field.selected == field.value) { %> checked="checked" <% } %>>
      <%= field.label %>
    </input>
    <% } %>
  </div>

  <!-- Checkbox -->
  <% } else if (field.type == 'CheckBox') { %>
  <input type="checkbox" class="form-control" name="<%= field.name %>"> <%= field.label %>

  <!-- Select field -->
  <% } else if (field.type == 'SelectField') { %>
  <select class="form-control" name="<%= field.name %>">
    <% for (value in field.options) { %>
    <option value="<%= value %>"><%= field.options[value] %></option>
    <% } %>
  </select>

  <% } %> <p class="help-block"><%= field.tooltip %></p></div> <% }); %>

  <button type="submit" class="btn btn-primary">Run Workflow</button>

</form>