<div>
    <button type="button" class="btn btn-default remove-btn">Remove Runs</button>
    <!--<button type="button" class="btn btn-default share-btn">Share Results</button> TODO: For sharing of results -->
</div>
<hr />

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Workflow</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Status</th>
        <th>Results</th>
    </tr>
    </thead>
    <tbody>
        <!-- runs status entries will go here -->
    </tbody>
</table>