<div id="share-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Share Run Results</h4>
            </div>

            <div class="modal-body">
                <label>Select user or group...</label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input class="share-with" type="text" class="form-control" aria-label="...">
                </div><!-- /input-group -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="share-submit-btn" type="button" class="btn btn-primary">Share</button>
            </div>

        </div>
    </div>
</div>
