<% if (runs.length > 0) { %>
<table class="table">
  <tbody>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Workflow</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Status</th>
    <th>Results</th>
  </tr>

  <% _.each(runs, function(run) { %>

  <% var result = jsRoutes.controllers.Workflows.resultArchive(run.id).url %>
  <% var output = jsRoutes.controllers.Workflows.outputLog(run.id).url %>
  <% var errors = jsRoutes.controllers.Workflows.errorLog(run.id).url %>

  <tr>
    <td><input type="checkbox"></td>
    <td><%= run.name ? run.name : "Workflow Run #" + run.id %></td>
    <td><%= run.workflow %></td>
    <td><%= new Date(run.startDate).toLocaleString() %></td>
    <td><% if (run.endDate) { %><%= new Date(run.endDate).toLocaleString() %><% } else { %><i style="color: #777">Unavailable</i><% } %></td>
    <td id="status<%= run.id %>"></td>
    <td>
      <% if (run.status == "RUNNING") { %>

      <div class="loading-pulse" style="height: 1.3em; margin-left: 12px;"></div>

      <% } else { %>

      <% if (run.hasResult) { %><a href="<%= result %>" data-toggle="tooltip" data-placement="top" title="Download Results"><span class="glyphicon glyphicon-file" style="font-size: 1.3em; color: #777"></span></a><% } %>
      <% if (run.hasOutput) { %><a href="<%= output %>" data-toggle="tooltip" data-placement="top" title="Output Log"><span class="glyphicon glyphicon-info-sign" style="font-size: 1.3em; color: #777"></span></a><% } %>
      <% if (run.hasErrors) { %><a href="<%= errors %>" data-toggle="tooltip" data-placement="top" title="Error Log"><span class="glyphicon glyphicon-exclamation-sign" style="font-size: 1.3em; color: #777"></span></a><% } %>

      <% } %>
    </td>
  </tr>

  <% }); %>

</table>

<% } else { %>
<p><i>No workflow runs</i></p>
<% } %>