<div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select <span class="caret"></span>
        </button>

        <ul class="dropdown-menu select-dropdown">
            <li><a href="#" class="select-all">All</a></li>
            <li><a href="#" class="select-none">None</a></li>
        </ul>
    </div>
    <span>&nbsp;&nbsp;</span>
    <span id="run-controls">
        <button type="button" class="btn btn-success share-btn" disabled="disabled">Share Selected</button>
        <button type="button" class="btn btn-success remove-btn" disabled="disabled">Remove Selected</button>
    </span>
</div>
<hr />
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#user-runs" class="runs-tab" aria-controls="home" role="tab" data-toggle="tab">My Runs <span class="badge user-runs-count">0</span></a></li>
    <li role="presentation"><a href="#shared-runs" class="runs-tab" aria-controls="profile" role="tab" data-toggle="tab">Shared Runs <span class="badge shared-runs-count">0</span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="user-runs">

    </div>
    <div role="tabpanel" class="tab-pane" id="shared-runs">

    </div>
  </div>

</div>