<div id="tree-view">
    <ul>
        <li class="jstree-open">
            <span><i>User Management</i></span>
            <ul>
                <li data-jstree='{ "icon": "glyphicon glyphicon-globe", "selected": true }'>
                    <span><b>All Users</b></span>
                </li>
                <li data-jstree='{ "icon": "glyphicon glyphicon-ok" }'>
                    <span>Active</span>
                </li>
                <li data-jstree='{ "icon": "glyphicon glyphicon-remove" }'>
                    <span>Inactive</span>
                </li>
                <li class="jstree-open">
                    <span><i>Roles</i></span>
                    <ul>
                        <li data-jstree='{ "icon": "glyphicon glyphicon-user" }'>
                            <span>ADMIN</span>
                        </li>
                        <li data-jstree='{ "icon": "glyphicon glyphicon-user" }'>
                            <span>USER</span>
                        </li>
                        <!--<li data-jstree='{ "icon": "glyphicon glyphicon-user" }'>
                          <span>INSTRUCTOR</span>
                        </li> TODO: support for instructor role-->
                    </ul>
                </li>
                <li class="jstree-open">
                    <span><i>Groups</i></span>
                    <ul>
                        <% _.each(groups, function(group) { %>
                        <li value="<%= group.id %>" class="user-group" data-jstree='{ "icon": "glyphicon glyphicon-folder-close" }'>
                            <span><%= group.name %></span>
                        </li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>