<h3>Upload</h3>

<form id="upload-file" enctype="multipart/form-data">
    <div class="form-group">
        <label for="upload">Upload File</label>
        <input type="file" id="upload" name="upload">
    </div>
    <button type="submit" class="btn btn-primary upload-btn">Submit</button> <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; color: #337ab7; display:inline-block; vertical-align:middle"></i>
</form>

<hr />

<h3>Files</h3>

<div class="list-group">
    <% _.each(uploads, function(upload) { %>
        <a href="<%= jsRoutes.controllers.Users.downloadFile(upload.id).url %>" class="list-group-item"><%= upload.filename %></a>
    <% }); %>
</div>