<h3>Upload</h3>

<form id="upload-file" enctype="multipart/form-data">

    <button type="submit" class="btn btn-success upload-btn disabled" disabled>Upload File</button>

            <div class="form-group" style="display: inline-block">
                <input type="file" id="upload" name="upload">
            </div>

    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; color: #5cb85c; display:inline-block; vertical-align:middle"></i>

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%">

        </div>
    </div>
</form>

<hr />

<h3>Files</h3>

<div class="list-group" style="position: absolute">
    <% _.each(uploads, function(upload) { %>
    <a href="<%= jsRoutes.controllers.Users.downloadFile(upload.id).url %>" class="list-group-item"><%= upload.filename %> &nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-sm btn-primary"><b>Share</b> <span class="glyphicon glyphicon-share"></span></button> </a>
    <% }); %>
</div>