<td><span class="glyphicon glyphicon-log-out icon-flipped drag-handle"> </span><div class="dragging-user"><%= username %> <% if(!username) { %> <%= email %> <% } %></div></td>
<td><!-- TODO: <input type="checkbox" /> --></td>
<td><%= username %> <% if(!username) { %><i style="color: #777">N/A</i><% } %> <span class="badge" data-toggle="tooltip" title="Run Count"><%= runCount %></span></td>
<td><%= firstname %> <%= lastname %></td>
<td><%= email %></td>
<td><%= affiliation %></td>
<td><%= new Date(createdOn).toLocaleString() %></td>
<td><% if (lastActive) { %><%= new Date(lastActive).toLocaleString() %><% } else { %><i style="color: #777">No activity</i><% } %></td>

<td>
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle role-btn" data-toggle="dropdown">
            <b><span><%= role %></span></b>
        </button>

        <ul class="dropdown-menu">
            <li><a href="#">USER</a></li>
            <li><a href="#">ADMIN</a></li>
        </ul>
    </div>
</td>


<td>
    <button type="button" class="btn btn-xs status-btn"></button>
</td>