<div style="margin-top: -1.5em">
    <div style="float: left; padding-top: 1.5em;"><h4>Showing <span class="start">1</span> to <span class="limit">10</span> of <span class="total"><%= total %></span> users</h4></div>
    <div style="float: right;" >
        <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a class="previous" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for(i = 0; i < pages; i++) { %>
            <li class="page"><a class="page-btn" id="<%= i %>" href="#"><%= i+1 %></a></li>
            <% } %>
            <li>
                <a class="next" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>
</div>


<table class="table" id="user-table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Username</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Affiliation</th>
        <th>Created On</th>
        <th>Last Active</th>
        <th>Run Counts</th>
        <th>Role</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>