<table class="table">
  <tr>
    <th></th>
    <th>Username</th>
    <th>Fullname</th>
    <th>Email</th>
    <th>Affiliation</th>
    <th>Created On</th>
    <th>Last Active</th>
    <th>Role</th>
    <th>Active</th>
  </tr>

  <% _.each(users, function(user) { %>

  <tr>
    <td><!-- TODO: add view workflow run by uid --></td>
    <td><%= user.username %></td>
    <td><%= user.firstname %> <%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.affiliation %></td>
    <td><%= user.createdOn %></td>
    <td><%= user.lastActive %></td>
    <td><%= user.role %></td>
    <td><%= user.active %></td>
  </tr>

  <% }); %>

</table>