<div id="sortable">
 <% _.each(definitions, function(def) { %>

    <div class="bs-callout bs-callout-primary" style="padding-left: 3em">

      <h4 style="float:left; margin-left: -1em; line-height: 2em;">
        <a href="<%= def.documentation %>" target="_blank">
          <img src="<%= infoImg %>" />
        </a><%= def.title %></h4>

      <div style="float:left; padding-left: 20px;" >
        <a href="#workflow/<%= def.name %>" class="btn btn-primary btn-sm"><b>Run Workflow</b> <span class="glyphicon glyphicon-play"></span></a>
      </div>

      <div style="clear: both; margin-left: 0.7em; font-size: 1em"><%= def.summary %></div>
    </div>

    <% }); %>
</div>

 <div id="run-modal" class="modal fade" tabindex="-1">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h3 id="run-modal-title" class="modal-title" id="gridSystemModalLabel">Modal title</h3>
       </div>

       <div id="run-modal-body" class="modal-body">

       </div>

       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         <button id="run-btn" type="button" class="btn btn-primary">Run Workflow</button>
       </div>
     </div>
   </div>
 </div>