@(form: Form[ChangePass])

@main(title = "The Kurator 'helloworld' application") {
    <h1>Change Password</h1>

    @if(flash.containsKey("change_success")) {
        <div class="alert alert-info" role="alert">@flash.get("change_success")</div>
    }

    @if(form.hasGlobalErrors) {
        <div class="alert alert-danger" role="alert">@form.globalError.message</div>
    }

    @helper.form(routes.Application.changePassword()) {

        <div style="float: left">
        @helper.form(routes.Application.authenticate) {
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="oldPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm New Password" name="confirmPassword" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        }
        </div>

    }
}
