
    @main(title = "The Kurator 'helloworld' application") {
    @if(flash.containsKey("message")) {
        <div class="alert alert-info" role="alert">@flash.get("message")</div>
    }

    @if(flash.containsKey("error")) {
        <div class="alert alert-danger" role="alert">@flash.get("error")</div>
    }

        <form id="deployPackage" action="@routes.Workflows.deploy" method="post" enctype="multipart/form-data">

            Upload zip file <input type="file" name="filename">

                <input type="submit" value="Deploy">
        </form>
    }
