@(users : List[User])

    @main(title = "The Kurator 'helloworld' application") {

    <h1>Create Workshop</h1>

    @if(flash.containsKey("activate_success")) {
        <div class="alert alert-success" role="alert">
            @flash.get("activate_success")
        </div>
    }

    <div style="float: left">
        <form id="createworkshop" action="@routes.Application.createWorkshop()" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Workshop Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="numUsers" name="numUsers" placeholder="# of Participants">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    <div style="clear: left" />

    <h1>User Management</h1>

    <form id="usermanagment" action="@routes.Application.activateAccount()" method="post">
        @if(users.size > 0) {
            <div style="display: inline-block">
                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Affiliation</th>
                        <th>Role</th>
                        <th>Active</th>
                    </tr>

                    @users.map { user =>
                        <tr>
                            <td>@user.username</td>
                            <td>@user.email</td>
                            <td>@user.firstname</td>
                            <td>@user.lastname</td>
                            <td>@user.affiliation</td>
                            <td>
                                <select name="role_@user.username" value="@user.role">
                                    <option @if(user.role.equals("USER")) { selected="selected" }>USER</option>
                                    <option @if(user.role.equals("ADMIN")) { selected="selected" }>ADMIN</option>
                                </select>
                            </td>
                            <td><input type="checkbox" name="active_@user.username" @if(user.active) { checked="checked" } value="@user.id"></td>
                        </tr>
                    }
                </table>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        } else {
            <p><i>No users registered.</i></p>
        }
    </form>

}