@import models.db.user.User
@(users : List[User])

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.Workflows.status
)

@main(title = "The Kurator 'helloworld' application") {



    <h1>User Workflow Runs</h1>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/workflow.js")"></script>
    <script>
            $(function () {
                if ($("#user_workflows").val() != null) {
                    var uid = $("#user_workflows option:selected").val();

                    $.ajax(jsRoutes.controllers.Workflows.status(uid))
                            .done(updateWorkflowRuns);
                }

                $("#user_workflows").change(function (event) {

                    $("#workflow-runs").empty();

                    var uid = $("#user_workflows option:selected").val();
                    $.ajax(jsRoutes.controllers.Workflows.status(uid))
                            .done(updateWorkflowRuns);
                });
            })
    </script>

    @if(users.size > 0) {
        Select user:
        <select id="user_workflows">

        @users.map { user =>
            <option value="@user.id">@user.username</option>
        }
        </select>
        <br />
        <br />
        <div id="workflow-runs" style="float: left">

        </div>
    } else {
        <p><i>No users registered.</i></p>
    }
}