#canvas{
    width:  1024px;
    height: 1920px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.selection-box {
    position:    absolute;
    background: transparent;
    border:     1px dotted #000;
}

.selected {
    border:    2px solid #000;
}