.input {
    position:absolute;
    padding: 20px;
    background-color: lightblue;
}

.output {
    position:absolute;
    padding: 20px;
    background-color: lightcoral;
}

.actor {
    position:absolute;
    padding: 20px;
    background-color: lightgreen;
}