/***************************/
/* Main Application styles */
/***************************/

body {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

.workflow-form-field {
    margin-top: 20px;
    margin-bottom: 20px;
}

.breadcrumb {
    background-color: #FFF;
}

.uploads-table td {
    padding: 5px;
}


/**********************/
/* Workflow list page */
/**********************/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


/***********************/
/** About page styles **/
/***********************/

.about-links {
    margin-top: 30px;
}

.about-links li {
    display: block;
    font-size: 18px;
    margin-top: 8px;
}

.about-links li:before {
    content: "\e103";
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    float: left;
    margin-top: 4px;
    margin-left: -28px;
    color: #337ab7;
}

.about-tools li {
    display: block;
    margin-bottom: 15px;
}

.about-tools li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 20px;
    float: left;
    margin-top: -3px;
    margin-left: -30px;
}

.about-tools .description {
    font-size: 16px;
    margin-top: -12px;
}


/***********************/
/* FFDQ summary report */
/***********************/

.axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: #777;
}

.assurance {
    fill: #5cb85c;
    stroke: #5cb85c;
    mask: url(mask.svg#mask-stripe);
}

.complete {
    fill: #5cb85c;
    stroke: #4cae4c;;
}

.incomplete {
    fill: #eeeeee;
    stroke: #e1e1e8;
    /* fill: #d9534f; */
}

.untested {
    fill: #ffffff;
    stroke: #e1e1e8;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    line-height: 20px;
}


/*************************/
/* FFDQ spreadsheet view */
/*************************/

.spreadsheet-view {
    border: 1px solid #CCC;
    font-size: 12px;
    font-family: sans-serif;
}

.spreadsheet-view table th {
    background-color: #f3f3f3;
}

.spreadsheet-view table {
    border-spacing: 0px;
    border: none;

}

.spreadsheet-view th, .spreadsheet-view table td {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #474747;
    padding: 0 4px 0 4px;
}

.spreadsheet-view table th:first-child {
    border-left: none;
}

.spreadsheet-view table tbody tr:last-child th, .spreadsheet-view table tbody tr:last-child td {
    border-bottom: none;
}


/********************/
/* Workflow builder */
/********************/

.drag-handle {
    cursor: pointer;
    vertical-align: middle;
    font-size: 15px;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.dragging-user {
    position: absolute;
    border-radius: 5%;
    background-color: #2b2b2b;
    color: white;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    display: none;
}