include "database.conf"

akka.version=2.4.4
# This is the main configuration file for the application.
# ~~~~~

# listen only on local host
http.address=127.0.0.1

# Application context
application.context="/kurator-web/"

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
application.secret="TsLWj4[^1N<7nrI/>EkyPDTO[dnh<7_R[j;cN0:lGK6Mm`0048C@3PK]4KR6HobL"

play.evolutions.db.default.enabled=true
play.evolutions.db.default.autoApply=true
#play.evolutions.db.default.autoApplyDowns=true

ebean.default = ["models.*"]

# Max file upload size

play.http.parser.maxDiskBuffer=500000K
play.http.parser.maxMemoryBuffer=500000K

# Database configuration
# ~~~~~
# You can declare as many datasources as you want.
# By convention, the default datasource is named `default`
#

# H2 embedded database for testing and development
db.default.driver=org.h2.Driver
db.default.url="jdbc:h2:mem:play;MODE=MySQL"
db.default.logStatements=true

# Uncomment for MySQL config and replace defaults with information for your database
#db.default.driver=com.mysql.jdbc.Driver
#db.default.url="jdbc:mysql://localhost:3306/kurator"
#db.default.user="kurator"
#db.default.password="password"

# Mailer config

play.mailer {
    host = "smtp.gmail.com"
    port = 465
    ssl = true
    user = "user"
    password = "password"
}

# Session timeout in minutes
sessionTimeout=30
session.cookieName="KURATOR_WEB_SESSION"

jython.home = "/home/kurator/jython2.7.1b3"
jython.packages = "/home/kurator/packages"
jython.workspace = "/home/kurator/workspace"

keystore.password = "password"
keystore.location = "/home/kurator/keystore.ks"