@(form: Form[ChangePass])(users : List[User])

<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    @if(session.get("uid").equals("0")) {
        <li><a class="active" href="@routes.Application.admin">User Management</a></li>
    }
    @if(session.get("uid") == null) {
        <li><a href="@routes.Application.register">Register</a></li>
        <li><a href="@routes.Application.login">Login</a></li>
    } else {
        <li><a href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {
    <h1>Change Password</h1>

    @if(form.hasGlobalErrors) {
        <p class="error">
        @form.globalError.message
        </p>
    }

    @if(flash.containsKey("change_success")) {
        <p class="success">
            @flash.get("change_success")
        </p>
    }

    @helper.form(routes.Application.changePassword()) {
        <p>
            <input type="password" placeholder="Password" name="oldPassword" required>
        </p>
        <p>
            <input type="password" placeholder="New Password" name="password" required>
        </p>
        <p>
            <input type="password" placeholder="Confirm New Password" name="confirmPassword" required>
        </p>
        <p>
            <button type="submit">Change Password</button>
        </p>
    }

    <h1>User Management</h1>

    @if(flash.containsKey("activate_success")) {
        <p class="success">
            @flash.get("activate_success")
        </p>
    }

    <form id="usermanagment" action="@routes.Application.activateAccount()" method="post">
        @if(users.size > 0) {
            <table>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active</th>
                </tr>

                    @users.map { user =>
                      <tr>
                          <td>@user.username</td>
                          <td>@user.email</td>
                          <td><input type="checkbox" name="active_@user.username" @if(user.active) { checked="checked" } value="@user.id"></td>
                      </tr>
                    }
            </table>
        } else {
            <p><i>No users registered.</i></p>
        }
        <input type="submit" />
    </form>
}