@main(title = "Kurator Web - Builder") {

  <h1>Workflow Builder</h1>

  <script src="@routes.Assets.at("javascripts/jsPlumb-2.1.4.js")" type="text/javascript"></script>

  <script type="text/javascript">
          jsPlumb.ready(function () {
            jsPlumb.setContainer($("#canvas"));

            function addInput(name) {
              var input = $("<div class='input'>" + name + "</div>").dblclick(function () {
                jsPlumb.remove(this);
              });
              $("#canvas").append(input);
              jsPlumb.draggable(input);

              var endpoint = jsPlumb.addEndpoint(input, {anchor: "Right", isSource: true});
            }

            function addOutput(name) {
              var output = $("<div class='output'>" + name + "</div>").dblclick(function () {
                jsPlumb.remove(this);
              });

              $("#canvas").append(output);
              jsPlumb.draggable(output);
              var endpoint = jsPlumb.addEndpoint(output, {anchor: "Left", isTarget: true});
            }

            function addActor(name) {
              var actor = $("<div class='actor'>" + name + "</div>").dblclick(function () {
                jsPlumb.remove(this);
              });

              $("#canvas").append(actor);
              jsPlumb.draggable(actor);

              var inEnpoint = jsPlumb.addEndpoint(actor, {anchor: "Left", isTarget: true});
              var outEnpoint = jsPlumb.addEndpoint(actor, {anchor: "Right", isSource: true});
            }

            var actorConfig = [
              {
                name: "ReadInput",
                type: "input"
              },
              {
                name: "WriteDQReport",
                type: "output"
              },
              {
                name: "VertNetGeoValidator",
                type: "actor"
              },
              {
                name: "ScientificNameValidator",
                type: "actor"
              },
              {
                name: "BasisOfRecValidator",
                type: "actor"
              },
              {
                name: "DateValidator",
                type: "actor"
              },
              {
                name: "FP-GeoValidator",
                type: "actor"
              }
            ];

            $.each(actorConfig, function (i, obj) {
              $("#actorSelect").append("<option value='" + i + "'>" + obj.name + " </option>");
            });

            $("#addActorButton").click(function () {
              var value = $("#actorSelect").val();
              var actor = actorConfig[value];

              if (actor.type === "input") {
                addInput(actor.name);
              } else if (actor.type === "actor") {
                addActor(actor.name);
              } else if (actor.type === "output") {
                addOutput(actor.name);
              }
            });

            // Selection box

            var selection = $("<div>").addClass("selection-box");
            var select_top, select_right, select_left, select_bottom;
            var dragging = false;

            var selected = [];

            $("#canvas").mousedown(function (e) {
              selected.forEach(function (item) {
                item.removeClass("selected")
                jsPlumb.removeFromPosse(item, "selection");
              });

              selected = [];

              var click_x = e.pageX;
              var click_y = e.pageY;


              selection.css({
                "top": click_y,
                "left": click_x,
                "width": 0,
                "height": 0
              });

              selection.appendTo($(this));

              $(this).on("mousemove", function (e) {
                dragging = true;

                var move_x = e.pageX,
                        move_y = e.pageY,
                        width = Math.abs(move_x - click_x),
                        height = Math.abs(move_y - click_y),
                        new_x, new_y;

                new_x = (move_x < click_x) ? (click_x - width) : click_x;
                new_y = (move_y < click_y) ? (click_y - height) : click_y;

                selection.css({
                  "width": width,
                  "height": height,
                  "top": new_y,
                  "left": new_x
                });

                select_top = new_y;
                select_right = new_x + width;
                select_bottom = new_y + height;
                select_left = new_x;
              });

              $(this).mouseup(function (e) {
                if (dragging) {
                  dragging = false;

                  $(".actor").each(function () {
                    var top = this.getBoundingClientRect().top;
                    var bottom = this.getBoundingClientRect().bottom;
                    var left = this.getBoundingClientRect().left;
                    var right = this.getBoundingClientRect().right;

                    if (select_top < top && select_left < left && select_right > right && select_bottom > bottom) {
                      selected.push($(this));
                      $(this).addClass("selected");
                      jsPlumb.addToPosse($(this), "selection");
                    }
                  });
                }

                $(this).off("mousemove");
                selection.remove();
              });
            }).mouseleave(function (e) {
              $(this).off("mousemove");
              selection.remove();
            });

          });
  </script>

  <div id="toolbox">
    <span>Actor: </span>
    <select id="actorSelect">

    </select>

    <button id="addActorButton">Add Actor</button>
  </div>

  <div id="canvas" style="height: 100%;
    width: 100%">

  </div>
}
