@()

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kurator Web</title>

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap/bootstrap.min.css")">

      <!-- Application CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
  </head>
  <body>

    @navbar()

    <div id="container">
      <p>Each workflow or tool has an <img src="@routes.Assets.at("images/info.png")" /> icon next to it with help information and instructions. </p>

      <p>View tutorials for Kurator Workflows here (<a href="https://vimeo.com/kurator">https://vimeo.com/kurator)</a></p>
    </div>

      <!-- Play JavaScript routes -->
    <script type="text/javascript" src="@routes.Application.jsRoutes"></script>

      <!-- RequireJS -->
    <script data-main="@routes.Assets.at("javascripts/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>

      <!-- jQuery -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-min.js")"></script>

      <!-- Bootstrap -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/bootstrap/bootstrap.min.js")"></script>
  </body>
</html>