@import forms._
@(workflows : List[FormDefinition])(userUploads : List[UserUpload])

@main(title = "The Kurator 'helloworld' application") {

    <h1>Workflows</h1>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/workflow.js")"></script>
    <script type="text/javascript">
                $.ajax({ url: "@routes.Workflows.status(session.get("uid"))", success: updateWorkflowRuns});

                (function poll() {
                    setTimeout(function() {
                        $.ajax({ url: "@routes.Workflows.status(session.get("uid"))", success: updateWorkflowRuns, dataType: "json", complete: poll });
                    }, 3000);
                })()

            /*;*/
    </script>

    <table>
        @workflows.map { workflow =>
            <tr>
                <td>
                    @if(workflow.documentation != null) {
                        <a href="@workflow.documentation"><img src="@routes.Assets.at("images/info.png")" /></a>
                    }
                </td>
                <td>
                    @workflow.title
                </td>
                <td>
                    <a href="workflow/@workflow.name">Run</a>
                </td>
            </tr>
        }
    </table>

    <h1>Workflow runs (Most recent first)</h1>
    <div id="workflowRuns"></div>
    
}
