@import models.db.user.UserUpload
@import models.json.WorkflowDefinition

@(workflows: List[WorkflowDefinition])(userUploads: List[UserUpload])

  @main(title = "Kurator Web - Home") {

    <h2>Workflows</h2>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/workflow.js")"></script>
    <script type="text/javascript">
            $.ajax({url: "@routes.Workflows.status(session.get("uid"))", success: updateWorkflowRuns});

            (function poll() {
              setTimeout(function () {
                $.ajax({
                  url: "@routes.Workflows.status(session.get("uid"))",
                  success: updateWorkflowRuns,
                  dataType: "json",
                  complete: poll
                });
              }, 3000);
            })()
    </script>
    <table class="workflow-list">
      @if(workflows.size() == 0) {
        <i>No workflows deployed</i>
      }

      @workflows.map { workflow =>
        <tr>
          <td>
            @if(workflow.getDocumentation() != null) {
              <a href="@workflow.getDocumentation()"><img src="@routes.Assets.at("images/info.png")" /></a>
            }
          </td>
          <td>
          @workflow.getTitle()
          </td>
          <td>
            <a href="workflow/@workflow.getName()">Run</a>
          </td>
          <td style="width: 500px">
          @workflow.getSummary()
          </td>
        </tr>
      }
    </table>

    <h2>Workflow runs</h2>

    <div id="workflow-runs" style="float: left">

    </div>

  }
