@(form: Form[Application.Login])

<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
@if(form.hasGlobalErrors) {
<p class="error">
    @form.globalError.message
</p>
}

@helper.form(routes.Application.authenticate) {
<h1>Sign in</h1>

<p>
    <input type="text" name="username" placeholder="Username" value="@form("username").value">
</p>
<p>
    <input type="password" name="password" placeholder="Password">
</p>
<p>
    <button type="submit">Login</button>
</p>
}

</body>
</html>