@(form: Form[Application.Login])

<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    <li><a href="@routes.Application.createaccount">Register</a></li>
    @if(session.get("uid") != null && session.get("uid").equals("1")) {
        <li><a href="@routes.Application.manager">User Management</a></li>
    }
    @if(session.get("uid") == null) {
        <li><a class="active" href="@routes.Application.login">Login</a></li>
    } else {
        <li><a href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {

@if(form.hasGlobalErrors) {
<p class="error">
    @form.globalError.message
</p>
}

@helper.form(routes.Application.authenticate) {
<h1>Sign in</h1>

<p>
    <input type="text" name="username" placeholder="Username" value="@form("username").value">
</p>
<p>
    <input type="password" name="password" placeholder="Password">
</p>
<p>
    <button type="submit">Login</button>
</p>
}

}