<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    <li><a href="@routes.Application.createaccount">Register</a></li>
    @if(session.get("uid") == null) {
        <li><a href="@routes.Application.login">Login</a></li>
    } else {
        <li><a class="active" href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {
    <h1>Logout successful!</h1>
}