@()

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Kurator Web</a>
      </div>

      <ul class="nav navbar-nav">

        <li><a href="@routes.Application.index()">Home</a></li>
        <li><a href="@routes.Application.about()">About Kurator</a></li>

        @if(session.get("uid") != null) {

          <li><a href="@routes.Application.test()#run">Workflows</a></li>

          @if(session.get("user_role").equals("ADMIN")) {
            <li><a href="@routes.Application.admin()#users">Admin</a></li>
          }

        }

        <li><a href="@routes.Application.help()">Help <span class="glyphicon glyphicon-question-sign" ></span></a></li>
        <li><a href="http://wiki.datakurator.net/Kurator-Web" target="_blank">Wiki <span class="glyphicon glyphicon-new-window"></span></a></li>

      </ul>

      @if(session.get("uid") != null) {


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@session.get("username") <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
              <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              @if(session.get("user_role").equals("ADMIN")) {
                <li role="separator" class="divider"></li>
                <li><a id="view-as-user" href="#" data-toggle="modal" data-target="#user-select-modal"><span class="glyphicon glyphicon-eye-open"></span> View as User</a></li>
                <li><a id="view-as-self" style="display: none" href="#"><span class="glyphicon glyphicon-eye-close"></span>View as Self</a></li>
              }
            </ul>
          </li>
        </ul>
        <p class="navbar-text navbar-right">Logged in as</p>
        <p id="view-as-text" class="navbar-text navbar-right"></p>

      } else {
        <form class="navbar-form navbar-right" role="search">
          <a href="login" type="submit" class="btn btn-default">Login</a>
          <a href="register" class="btn btn-default">Register</a>
        </form>
      }

    </div>

  </nav>

  <!-- Modal -->
<div id="user-select-modal" class="modal fade">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select User</h4>
      </div>
      <div class="modal-body">
        <form>
          <p>Start entering a username below and select to temporarily view runs as that user.</p>
          <div class="ui-widget">
            <label for="user-select">Username</label>
            <input id="user-select">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="user-select-btn" class="btn btn-primary">Select</button>
      </div>
    </div>
  </div>
</div>