@import models.forms.Login
@(form: Form[Login])

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Kurator Web</title>

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap/bootstrap.min.css")">

      <!-- Application CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing.css")">


  </head>

  <body>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Forgot password</h3>
        <br />
        <p>Enter the email you used to sign up and you will receive a link to reset your password.</p>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email address">
          </div>

          <button class="btn btn-primary" type="submit">Submit</button><div style="float:right">      <a class="toggle-register" href="#">Login</a>&nbsp;|
          <a class="toggle-forgot-pass" href="#">Register</a><br /></div>
        </form>
      </div>
    </div>

  </body>
</html>