@(form: Form[Application.Register])

<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    @if(session.get("uid") != null && session.get("uid").equals("1")) {
        <li><a href="@routes.Application.admin">User Management</a></li>
    }
    @if(session.get("uid") == null) {
        <li><a href="@routes.Application.register">Register</a></li>
        <li><a href="@routes.Application.login">Login</a></li>
    } else {
        <li><a href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {

@if(form.hasGlobalErrors) {
<p class="error">
    @form.globalError.message
</p>
}

@helper.form(routes.Application.registerSubmit()) {
<h1>Create Account</h1>

<p>
    <input type="email" name="email" placeholder="Email" value="@form("email").value">
</p>
<p>
    <input type="text" name="firstName" placeholder="First Name" value="@form("firstName").value">
</p>
<p>
    <input type="text" name="lastName" placeholder="Last Name" value="@form("lastName").value">
</p>
<p>
    <input type="text" placeholder="Username" name="username" value="@form("username").value" required >
</p>
<p>
    <input type="password" placeholder="Password" name="password" required>
</p>
<p>
    <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
</p>
<p>
    <input type="text" placeholder="Affiliation" name="affiliation" value="@form("affiliation").value" required>
</p>
<p>
    <button type="submit">Register</button>
</p>
}

}