@(data: String)

<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    @if(session.get("uid").equals("0")) {
        <li><a href="@routes.Application.index">User Management</a></li>
    }
    @if(session.get("uid") == null) {
        <li><a href="@routes.Application.register">Register</a></li>
    <li><a href="@routes.Application.login">Login</a></li>
    } else {
    <li><a href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {
<h1>Coordinates must fall inside the country</h1>
<canvas id="myChart" width="200" height="200"></canvas>

<script src="@routes.Assets.at("javascripts/Chart.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var data = @{Html(data)}

        var ctx = $("#myChart").get(0).getContext("2d");
        var myDoughnutChart = new Chart(ctx).Doughnut(data);

        $("#myChart").click(function(evt){
            var activePoints = myDoughnutChart.getSegmentsAtEvent(evt);
            console.log(activePoints);
            // => activePoints is an array of segments on the canvas that are at the same position as the click event.
        });
    });
</script>
}