<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    <li><a href="@routes.Application.createaccount">Register</a></li>
    @if(session.get("uid") == null) {
    <li><a href="@routes.Application.login">Login</a></li>
    } else {
    <li><a href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {
    <script type="text/javascript">
        var fileInput = (function($) {
            function processData(data) {
                    if (data.length > 0) {
                        $.each(data, addUpload);
                        toggleUploadSelect();
                    } else {
                        toggleUploadForm();
                    }
            };

            function addUpload(index, upload) {
                $("#userUploads").append($('<option>', { value : upload.id })
                        .text(upload.filename));
            };

            function toggleUploadSelect() {
                $("#uploadSelect").show();
                $("#uploadForm").hide();
            };

            function toggleUploadForm() {
                $("#uploadForm").show();
                $("#uploadSelect").hide();
            };

            initModule = function() {
                $.getJSON("uploads", processData);
            };

            $("#newUploadBtn").click(function(event) {
                toggleUploadForm();
            });

            return { initModule : initModule };
        }(jQuery));

        jQuery(document).ready(function() {
            fileInput.initModule();
        });
    </script>

    <div id="uploadSelect" style="display: none">
        Input file:
        <select id="userUploads"></select>
        <button id="newUploadBtn">Upload New File</button>
    </div>

    <form id="uploadForm" enctype="multipart/form-data" style="display: none">
        Upload file: <input type="file" id="input" name="input">
        <input type="submit" value="Upload">
    </form>

    <button id="runWorkflowBtn">Run workflow</button>
}