@import forms._
@(form : FormDefinition)

<ul id="navbar">
    <li><a href="@routes.Application.index">Home</a></li>
    <li><a href="@routes.Application.builder">Workflow Builder</a></li>
    <li><a href="@routes.Application.createaccount">Register</a></li>
    @if(session.get("uid") == null) {
        <li><a href="@routes.Application.login">Login</a></li>
    } else {
        <li><a href="@routes.Application.logout">Logout</a></li>
    }
</ul>

@main(title = "The Kurator 'helloworld' application") {

    <h1>@form.title</h1>

     <script type="text/javascript">
        $(function() {
            $("#complete").hide();

            $("#progressbar").progressbar({
                value: false
            }).hide();

            $("#overlay").hide();
            $("#modal").hide();

            $("#runWorkflow").submit(function (event) {
                $("#progressbar").show("fade");

                event.preventDefault();
                var formData = new FormData($(this)[0]);

                $.ajax({
                    url: "@routes.Workflow.test(form.name)",
                    type: "POST",
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $("#result").html(data.output);
                        $("#download").attr("href", "../result/" + data.runId);
                        console.log(data)
                        $("#progressbar").hide("fade");
                        $("#complete").show("drop");
                    },
                    error: function (request, status, error) {
                        $("#progressbar").hide("fade");
                        $("#error").html(data);
                    }
                });

                return false;
            });
        });
     </script>

<form id="runWorkflow" enctype="multipart/form-data">
    <table>
        @for(field <- form.fields) {
        <tr>
            @field match {
            case fileInput: input.FileInput => {
            <td>@fileInput.label</td><td><input type="file" id="@fileInput.name" name="@fileInput.name"></td>
            }
            case textField: input.TextField => {
            <td>@textField.label</td>

            @if(textField.textArea) {
            <td><textarea name="@textField.name"></textarea></td>
            } else {
            <td><input type="text" name="@textField.name"></td>
            }
            }
            case radioGroup: input.RadioGroup => {
            <td>@radioGroup.label</td>

            <td>
                @for((value, label)  <- radioGroup.options) {
                <input type="radio" name="@radioGroup.name" value="@value" @if(radioGroup.selected == value) { checked="checked" }>@label</input>
                }
            </td>
            }
            case checkBox: input.CheckBox => {
            <td colspan="2"><input type="checkbox" name="@checkBox.name">@checkBox.label</input></td>
            }
            case selectField: input.SelectField => {
            <td>@selectField.label</td>

            <td>
                <select name="@selectField.name">
                    @for((value, label) <- selectField.options) {
                        <option value="@value">@label</option>
                    }
                </select>
            </td>
            }
            }
        </tr>
        }
        <tr><td colspan="2"><input id="runButton" type="submit" value="Run Workflow"/><input type="reset" /></td></tr>
    </table>
    </form>

    <div id="progressbar" class="ui-progressbar-indeterminate"></div>
    <div id="complete">
        Result: <span id="result"></span>
        <a id="download">Download csv...</a>
    </div>
    <div id="error"></div>

    <br />
    <div id='overlay'></div>
    <div id='modal'>
        <div id='content'>File upload complete!</div>
    </div>
}
