@()
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kurator Web</title>

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lib/bootstrap/bootstrap.min.css")">

      <!-- Application CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
  </head>

  @navbar()

  <div>
    <ol class="breadcrumb">
      <li><a href="#">Workflows</a></li>
      <li class="active">Run</li>
    </ol>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-2">

      <ul class="nav nav-pills nav-stacked" style="padding-top: 20px">
        <li class="run-pill active"><a href="#run">Run</a></li>
        <li class="status-pill"><a href="#status">Status</a></li>
        <li class="disabled"><a href="#">Reports</a></li>
        <li class="disabled"><a href="#">Files</a></li>
        <li class="disabled"><a href="#">Deploy</a></li>
      </ul>

    </div>
    <div class="col-md-10">
      <div id="container"></div>
    </div>
  </div>

    <!-- Play JavaScript routes -->
  <script type="text/javascript" src="@routes.Application.jsRoutes"></script>
  <script type="text/javascript">window.location = '#run'</script>

    <!-- RequireJS -->
  <script data-main="@routes.Assets.at("javascripts/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>

    <!-- jQuery -->
  <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-min.js")"></script>

    <!-- Bootstrap -->
  <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/bootstrap/bootstrap.min.js")"></script>
