@import forms._
@(form : FormDefinition)

@main(title = "The Kurator 'helloworld' application") {

    <div class="panel panel-default" style="width: 700px">
        <div class="panel-heading">
            <h3 class="panel-title">@form.title</h3>
        </div>
    <div class="panel-body">
        <p>@form.summary</p>

    <form id="runWorkflow" style="width: 500px" class="form-horizontal" action="@routes.Workflows.runWorkflow(form.name)" method="POST" enctype="multipart/form-data">
            @for(field <- form.fields) {

                <div class="form-group">
                @field match {
                    case fileInput: input.FileInput => {
                        <label for="@fileInput.name" class="col-sm-2 control-label">@fileInput.label</label>
                        <div class="col-sm-10">
                            <input type="file" id="@fileInput.name" name="@fileInput.name" data-toggle="tooltip" data-placement="right" title="@fileInput.tooltip">
                        </div>
                    }

                    case textField: input.TextField => {
                        <label for="@textField.name" class="col-sm-2 control-label">@textField.label</label>

                        <div class="col-sm-10">
                            @if(textField.textArea) {
                                <textarea class="form-control" name="@textField.name" data-toggle="tooltip" data-placement="right" title="@textField.tooltip"></textarea>
                            } else {
                                <input class="form-control" type="text" name="@textField.name" data-toggle="tooltip" data-placement="right" title="@textField.tooltip">
                            }
                        </div>
                    }

                    case radioGroup: input.RadioGroup => {
                        <label for="@radioGroup.name" class="col-sm-2 control-label">@radioGroup.label</label>

                        <div class="col-sm-10">
                            @for((value, label)  <- radioGroup.options) {
                                <input class="form-control" type="radio" name="@radioGroup.name" data-toggle="tooltip" data-placement="right" title="@radioGroup.tooltip" value="@value" @if(radioGroup.selected == value) { checked="checked" }>@label</input>
                            }
                        </div>
                    }

                    case checkBox: input.CheckBox => {
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="@checkBox.name" data-toggle="tooltip" data-placement="right" title="@checkBox.tooltip"> @checkBox.label
                                </label>
                            </div>
                        </div>
                    }

                    case selectField: input.SelectField => {
                        <label for="@selectField.name" class="col-sm-2 control-label">@selectField.label</label>

                        <div class="col-sm-10">
                            <select name="@selectField.name" data-toggle="tooltip" data-placement="right" title="@selectField.tooltip">
                                @for((value, label) <- selectField.options) {
                                    <option value="@value">@label</option>
                                }
                            </select>
                        </div>
                    }

                }
                </div>
        }

        <script type="text/javascript">
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
        </script>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input id="runButton" class="btn btn-primary" onclick="$('.progress').show()" type="submit" value="Run Workflow"/> <input class="btn btn-default" type="reset" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="progress" style="display: none">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Running...</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    </div>
    </div>
}
